extends ../layout/default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Administração
          li.breadcrumb-item Configurações
          li.breadcrumb-item Parâmetros
          li.breadcrumb-item.active Zonas de Risco Ambiental
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-align-justify
                      |  Zonas de Risco Ambiental
                    .card-body   
                      != messages()  
                      table.table.table-striped
                        thead
                          tr
                            th Ações
                            th Map Id
                            th País
                            th Estado
                            th Cidade                            
                            th Bairro
                            th Zona                            
                        tbody                                                  
                             each biorisk in list
                              tr
                                td 
                                  .form-group
                                    form.form-horizontal(action='/biorisks/delete/#{biorisk.id}', method='post')                                      
                                      a(href='/biorisks/edit/#{biorisk.id}')
                                        button(type='button', style='background-color:transparent; border-color:transparent;')
                                          i.fa.fa-edit                                                                                                              
                                      span                                      
                                      button(type='submit', style='background-color:transparent; border-color:transparent;')
                                        i.fa.fa-remove 
                                td #{biorisk.mapid}
                                td #{biorisk.country}
                                td #{biorisk.state}
                                td #{biorisk.city}
                                td #{biorisk.district}
                                td #{biorisk.zone}                                                                                             
                       if (pages > 1)
                        ul.pagination
                          != createPagination(pages, page)  
                      a(href='/biorisks/new', target='_top')    
                       button.btn.btn-primary.btn-sm(type='button') Novo